<form class="mt-14"
        
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
      <div class="form-group">
        <label for="newPassword">New password</label>
        <input
          type="password"
          class="form-control"
          name="newPassword"
          [(ngModel)]="form.newPassword"
          required
          
          #newPassword="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && newPassword.errors }"
        />
        <div *ngIf="newPassword.errors && f.submitted" class="invalid-feedback">
          <div *ngIf="newPassword.errors['required']">Password is required</div>
          <div *ngIf="newPassword.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
          <label for="Currentpassword">Current password</label>
          <input
            type="password"
            class="form-control"
            name="Currentpassword"
            [(ngModel)]="form.Currentpassword"
            required
            
            #Currentpassword="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && Currentpassword.errors }"
          />
          <div *ngIf="Currentpassword.errors && f.submitted" class="invalid-feedback">
            <div *ngIf="Currentpassword.errors['required']">Password is required</div>
            <div *ngIf="Currentpassword.errors['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
          <!-- <span class="reset" routerLink="/reset"> Oubliez mot de passe ?</span> -->
        </div>
            <button class="mt-8 btn btn-primary btn-block">
              Changer Mot de Passe
            </button>
</form>