<button mat-fab color="warn" type="button"  matTooltip="Choose image"   (click)="filePicker.click()">
  <span class="material-icons">
  add
  </span>
</button>
<input type="file" #filePicker (change)="onFileSelected($event)"(change)="onImagePicked($event)"><br><br>
<div class="image-preview" *ngIf="imagePreview !== '' && imagePreview ">
  <img [src]="imagePreview" alt='was error picking the file'>
</div>
<button (click)="onUpload()">envoyer</button>



<!-- <div class="flex items-center justify-center w-full">
  <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 white:hover:bg-bray-800 white:bg-gray-700 hover:bg-gray-100 white:border-gray-600 white:hover:border-gray-500 white:hover:bg-gray-600">
      <div class="flex flex-col items-center justify-center pt-5 pb-6">
          <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
          <p class="mb-2 text-sm text-gray-500 white:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
          <p class="text-xs text-gray-500 white:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
      </div>
      <input id="dropzone-file" type="file" class="hidden" #filePicker  (change)="onFileSelected($event)"(change)="onImagePicked($event)" />
  </label>
</div> 
<button (click)="onUpload()">envoyer</button> -->


<!-- <div class="form-group">
  <label for="file">Choose File</label>
  <input type="file"
         id="file"
         (change)="handleFileInput($event.target.files)">
</div> -->


<!-- <div class="flex justify-center mt-7">
  <div class="relative border-2 border-gray-300 border-dashed">
    <label for="file-input" class="cursor-pointer">
      <div class="bg-gray-100 w-72 h-72 flex justify-center items-center">
        <ng-container
          class="flex flex-col items-center justify-center pt-5 pb-6"
          ngIf="!imageUrl"
        >
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg
              aria-hidden="true"
              class="w-10 h-10 mb-3 text-gray-400"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"
              ></path>
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
              {{ 'Select client request cachet' | transloco }}
            </p>
          </div>
        </ng-container>
        <img [src]="imageUrl"ngIf="imageUrl" class="object-cover w-full h-full" />
      </div>
    </label>
    <input
      id="file-input"
      type="file"
      (change)="onFileSelected($event)"
      class="sr-only"
      accept="image/*"
    />
  </div>
</div> -->