.card{
    padding: 30px;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.056);
    background-color: #eaf3fa;
}
label{
    color: #7499f1;
    position: relative;
    top: 7px;
}
input{
    border-radius: 0;
    border: none;
    border-bottom:1px solid #7499f1;
    background-color: transparent;
    color: #7499f1;
}
::placeholder {
    color: #7499f1;
  }
  
  button{
    margin: -15px;
    width: 110px;
    display: block;
    margin: 0 auto;
    background-color: #fa9746;
    border: none;
}
button:hover{
    background-color: #7499f1;
}
.form-control{
    background-color: transparent;
}
.form-control:focus{
    outline: none;
    border: none;
    box-shadow: 0 4px 2px -2px #7499f1;
    border-bottom:1px solid #7499f1;
}
.assurance .row1{
    display: flex;
    padding: 5px;
    justify-content: space-around;
}