
<div class="w-2/3 mx-auto relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 white:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 white:bg-gray-700 white:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nom d'agence
                </th>
                <th scope="col" class="px-6 py-3">
                    Adresse
                </th>
                <th scope="col" class="px-6 py-3">
                    Matricule
                </th>
               
            
                <th scope="col" class="px-6 py-3">
                    Telephone
                </th>
                <th scope="col" class="px-6 py-3">
                    Etat
                </th>
                <th scope="col" class="px-6 py-3">
                    File
                </th>
                <th scope="col" class="px-6 py-3">
                    Activate
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b white:bg-gray-800 white:border-gray-700 hover:bg-gray-50 white:hover:bg-gray-600" *ngFor="let agence of agences">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap white:text-white" >
                {{agence.name}}                </th>
                <td class="px-6 py-4">
                    {{agence.address}}
                </td>
                <td class="px-6 py-4">
                    {{ agence.matricule}}
                </td>
               
                <td class="px-6 py-4">
                    {{agence.tel}}
                </td>
                <td class="px-6 py-4">
                    {{agence.status}}
                </td>
                <td class="px-6 py-4" *ngIf="(agence.file)">
                    <button (click)="downloadFile(agence.file)">download</button> </td>
                    <td id="not" class="px-6 py-4" *ngIf="!(agence.file)">
                        did not upload file </td>
                <td class="px-6 py-4 text-right">
                    <mat-slide-toggle color="primary" (click)="activate()">Activate</mat-slide-toggle>
                </td>
            </tr>
    
        </tbody>
    </table>
</div> 
